.photoview
  position: relative
  &:hover
    .photo-checkbox
      display: block

  &.active
    border: 3px solid $cyan

  &.pointer
    cursor: pointer

.photo-checkbox
  display: none
  position: absolute
  right: 26px
  top: 8px
  z-index: 40

  &.active
    display: block

.photo-animation-enter
  opacity: 0
  transform: scale(0.5)
  transition: all 0.5s ease

  &.photo-animation-enter-active
    opacity: 1
    transform: scale(1)
